<!DOCTYPE html>
{% load static %}
<html lang="ar" dir="rtl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/signUpStyle.css' %}">
    <title>Sign Up</title>
</head>
<body>
    <div class="container">
        <div class="screen">
            <div class="screen__content">
                <h1>التسجيل</h1>
                <form method="post">
                    {% csrf_token %}
                    <div class="form-group">
                        <label for="id_username">اسم االمستخدم: </label>
                        {{form.username}}
                        {{ form.fieldname.errors }}
                    </div>
                    <div class="form-group">
                        <label for="id_first_name">الاسم الاول:</label>
                        {{ form.first_name }}
                    </div>
                    <div class="form-group">
                        <label for="id_last_name">الاسم الاخير:</label>
                        {{ form.last_name }}
                    </div>
                    <div class="form-group">
                        <label for="id_email">البريد الألكتروني:</label>
                        {{ form.email }}
                    </div>
                    <div class="form-group">
                        <label for="id_password">كلمة المرور:</label>
                        {{ form.password1 }}
                    </div>
                    <div class="form-group">
                        <label for="id_password">تأكيد كلمة المرور:</label>
                        {{ form.password2 }}
                    </div>
                    <div class="form-group">
                        <label for="id_password">تاريخ الميلاد:</label>
                        {{ form.date_of_birth }}
                    </div>
                    <div class="form-group">
                        <label for="id_password">يرجى اختيار مدرب او متدرب:</label>
                        {{ form.role }}
                    </div>
                    <div class="form-group">
                        <label for="id_password">مساحة شخصية:</label>
                        {{ form.bio }}
                    </div>
                    <div class="form-group">
                        <label for="id_password">رمز الاكاديمية (يعطى من قبل مسؤول التسجيل):</label>
                        {{ form.academy_code }}
                    </div>
                    <!-- Other form fields -->
                    <button type="submit">التسجيل</button>
                </form>
                <a class="button-link" href="{% url 'login' %}" class="btn btn-primary">اذا كنت تملك حساب, اضغط هنا</a>
                <a class="button-link" href="https://snapchat.com/t/cneiMgsz" class="btn btn-primary">snapchat</a>
                <a class="button-link" href="https://www.tiktok.com/@leaders_club10?_t=8mW4ErWBzhg&_r=1" class="btn btn-primary">Tiktok</a>

    </div>
</body>
</html>